<h1>Selamat Datang Index Page Mock Test</h1>
<br />
<form action="\login" method="get">
  <div>
    <input type="submit" value="Login" />
  </div>
</form>
<form action="\register" method="get">
  <div>
    <input type="submit" value="Register" />
  </div>
</form>
<form action="\api-docs" method="get">
  <div>
    <input type="submit" value="API Documentation" />
  </div>
</form>
